// COLORS
$primary-color: #454faf;
$secondary-color: #00a1cd;

$white-color: rgb(0, 0, 0);

$dark-grey: #ffffff;
$light-grey: #d2d2d2;

$dark-blue-text: #ffffff; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
